<!DOCTYPE html>
<html>

<head>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <div id="app">
        <h1>CV</h1>
        <span>Imię: </span>
        <input type="text" v-model="name">
        <br>
        <span>Nazwisko: </span>
        <input type="text" v-model="surname">
        <br>
        <span>Wiek: </span>
        <input type="text" v-model.number="age">
        <br>
        <span>Płeć: </span>
        <input type="radio" id="female" value="female" v-model="gender">
        <label for="female">Kobieta</label>
        <input type="radio" id="male" value="male" v-model="gender">
        <label for="male">Mężczyzna</label>
        <br>
        <span>Wykształcenie: </span>
        <select name="education" v-model="education">
            <option disabled value="">Wybierz:</option>
            <option>Brak</option>
            <option>Podstawowe</option>
            <option>Średnie</option>
            <option>Wyższe</option>
        </select>
        <br>
        <span>Umiejętności: </span>
        <br>
        <input type="checkbox" id="skill1" value="skill1" v-model="skills">
        <label for="skill1">Obsługa komputera</label>
        <br>
        <input type="checkbox" id="skill2" value="skill2" v-model="skills">
        <label for="skill2">Prawo jazdy</label>
        <br>
        <input type="checkbox" id="skill3" value="skill3" v-model="skills">
        <label for="skill3">Kreatywność</label>
        <br>
        <input type="checkbox" id="skill4" value="skill4" v-model="skills">
        <label for="skill4">Praca w zespole</label>
        <br>
        <button type="button" v-on:click="save()">Zapisz</button>
        <button type="button" v-on:click="read()">Czytaj</button>
    </div>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                name: '',
                surname: '',
                age: '',
                gender: '',
                education: '',
                skills: []
            },
            methods: {
                save: function () {
                    const obj = {
                        name: this.name,
                        surname: this.surname,
                        age: this.age,
                        gender: this.gender,
                        education: this.education,
                        skills: this.skills
                    };

                    localStorage.setItem("cv", JSON.stringify(obj));
                },
                read: function () {
                    const data = JSON.parse(localStorage.getItem("cv"));
                    this.name = data.name;
                    this.surname = data.surname;
                    this.age = data.age;
                    this.gender = data.gender;
                    this.education = data.education;
                    this.skills = data.skills;
                }
            }
        });
    </script>

</body>

</html>